
:root {
    --primary-color: #dfe1ef;
    --secondary-color: #090984;
    --tertiary-color: white;
    --accent-color: #020256b1;
}

body{
    background-color: var(--primary-color);
}

.title{
    text-align: center;
    color: var(--secondary-color);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    margin-inline: auto;
    max-width: 240px;
    margin-block: auto;
    max-height: 360px;
    padding-block: 8px;
    border-radius: 40px;
    padding-inline: 10px;
}

.qr-code{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-code-image {
    border-radius: 30px;
    max-height: 200px; 
    max-width: 200px;
    margin-top: 20px;
}

.qr-code-title {
    text-align: center;
    color: var(--accent-color);
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.qr-code-description {
    text-align: center;
    color: var(--secondary-color);
    font-size: 16px;
}

footer{
    text-align: center;
    color: var(--secondary-color);
    font-size: 20px;
    padding: 20px;
    background-color: var(--primary-color);
    position: relative;
    bottom: 0;
    width: 100%;
}